[build]
builder = "nixpacks"
buildCommand = "npm install"

[deploy]
startCommand = "node index.js"
healthcheckPath = "/health"
healthcheckTimeout = 120
restartPolicyType = "on_failure"
numReplicas = 1
